.body {
    padding: 1rem;
    
    font-size: 1.2rem;

    p {
        margin-bottom: 1rem;
    }

}



.name,
.email {
    font-weight: 600;
    font-size: 1.2rem;

    color: #0E8784;
}


.footer {
    padding: 0 1rem;

}

.closeButton {
    font-size: 1.2rem;

    height: 3rem;
    padding: 0 1rem;
    
    margin-bottom: 1rem;

    border: none;
    border-radius: 8px;

    background-color: #0E8784;

    color: white;

    font-family: 'Fraunces', serif;

    &:hover {
        background-color: #0E8784;
        opacity: 0.8;
    }
}