.wrapper {
    background-color: #2C343E;

    display: grid;
    justify-items: center;
    
    gap: 3rem;

    padding: 3.4376rem 0; 
}


.logo {
    height: 24px;
    width: 217.85px;


    position: relative;

}

.nav {
    text-align: center;
    color: #83888F;

    ul {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        gap: 1.5rem;
    }

    li {
        flex-basis: 100%;
        font-weight: 700;

        

        &:hover {
            color: #FEFCF7;
        }
    }

}

.socialLinks {
    ul {
        list-style: none;
        display: flex;

        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    li {
        position: relative;
        
        width: 1.5rem;
        height: 1.5rem;
    }
}


@media screen and (min-width: 1180px) {
    .wrapper {
        display: flex;

        flex-flow: row nowrap;

        justify-content: space-between;
        align-items: center;

        padding: 3rem 5.3125rem;
    }

    .nav {
        flex-basis:  60%;
        
        ul {
            flex-wrap: nowrap;
        }
        
        li {
            flex-basis: 25%;

            &:last-child {
                flex-basis: 50%;
            }
        }


    }
}