.wrapper {
    background-color: #2C343E;

    display: grid;
    justify-items: center;
    
    gap: 3rem;

    padding: 3.4376rem 0; 
}


.logo {
    height: 24px;
    width: 217.85px;


    position: relative;

}

.nav {
    text-align: center;
    color: #83888F;

    ul {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        gap: 1.5rem;
    }

    li {
        flex-basis: 100%;
        font-weight: 700;

        

        &:hover {
            color: #FEFCF7;
        }
    }

}

.socialLinks {
    ul {
        list-style: none;
        display: flex;

        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    li {
        position: relative;
        
        width: 1.5rem;
        height: 1.5rem;
    }
}