@use '../../../../styles/base';

.wrapper {
    list-style: none;
}

.li {
    height: 5.5rem;

    border-bottom: 1px solid #83888F;


    &:last-child {
        border-bottom: none;
    }


    button {
        cursor: pointer;

        width: 100%;
        height: 100%;

        text-align: left;

        border: none;

        color: #83888F;
        background-color: base.$lightCream;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 2rem;

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        gap: 1.5rem;

        &:hover {
            color: #333D4B;

            
        }

        .order.optionSelected {
            color: #0E8784;
        }


    }

    &.opened {
        button {
            color: #333D4B;
        }
    }

    &.disabled {
        button {
            cursor: default;
            color: scale-color($color: #83888F, $lightness: +40%);
        }
    }
}