.body {
    padding: 1rem;
    
    font-size: 1.2rem;

    p {
        margin-bottom: 1rem;
    }

}

.ammount {
    font-weight: 900;
    font-size: 1.5rem;

    color: #0E8784;
}

.footer {
    padding: 0 1rem;

}