.wrapper {
    margin-bottom: 3.5rem;

    text-align: center;
}


.order {
    font-family: 'Fraunces', serif;
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;

    color: #FDD6BA;

    margin-bottom: 1.5rem;
}

.name {
    color: #333D4B;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 700px) {
    .wrapper {
        position: relative;

        text-align: left;
        
        padding-left: 0.625rem;
        padding-top: 3rem;
        border-top: 2px solid #FDD6BA;
    
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            border-top: 2px solid #FEFCF7;
        }
        
        &::before {
            content: "";
            position: absolute;
            top: calc(-3rem + 29.5px);
            left: -0.625rem;
            background-color:#FEFCF7;

            border: 2px solid #0E8784;
            border-radius: 50%;
            width: 31px;
            height: 31px;
        }
    }
}


@media screen and (min-width: 1180px) {
    
}