.image {
    position: relative;
    width: 100%;
    height: 400px;

    border-radius: 8px;
    overflow: hidden;

    margin-bottom: 3rem;

}

.title {
    text-align: center;
    
    margin-bottom: 1.875rem;
}

.body {
     text-align: center;
     margin-bottom: calc(7.5rem + 23.7vw);
}


.mobile {
    display: block;
}

.tablet {
    display: none;
}

.desktop {
    display: none;
}

@media screen and (min-width: 700px) {
    .mobile {
        display: none;
    }
    
    .tablet {
        display: block;
    }
    
    .desktop {
        display: none;
    }
}


@media screen and (min-width: 1180px) {
    .mobile {
        display: none;
    }
    
    .tablet {
        display: none;
    }
    
    .desktop {
        display: block;
    }
}