.mobile {
    display: block;
}

.tablet {
    display: none;
}

.desktop {
    display: none;
}

@media screen and (min-width: 700px) {
    .mobile {
        display: none;
    }
    
    .tablet {
        display: block;
    }
    
    .desktop {
        display: none;
    }
}


@media screen and (min-width: 1180px) {
    .mobile {
        display: none;
    }
    
    .tablet {
        display: none;
    }
    
    .desktop {
        display: block;
    }
}