@use '../../../styles/base';

.wrapper {
    height: 100%;

    text-align: center;
    padding: 5.4rem 1.5rem;
    color: base.$lightCream;
}

.title {
    margin-bottom: 1.5rem;
}

.wedge {
    display: none;
}


@media screen and (min-width: 700px) {
    .wrapper {
        text-align: left;
        padding-left: 3.625rem;

        & * {
            display: inline-block;
        }


        p {
            width: 70%;

        }
    }


    .wedge {
        width: 30%;
        height: 100%;
        clip-path: polygon(77.76% -35.4%, 105.26% -36.79%, 106.52% 137.63%, 67.24% 130.82%, 53.99% 108.62%, 46.71% 79.91%, 41.93% 51.47%, 50.76% 4.63%, 60.99% -17.84%);

        float: right;
    }
}


@media screen and (min-width: 1180px) {
    .wrapper {
        padding-top: 8rem;   
        
        padding-left: 5.3125rem; 
        p {
            width: 50%;
        }
    }

    
    .wedge {
        width: 50%;

        clip-path:   polygon(9.45% -30.18%, 85.29% -29.52%, 87.66% 64.28%, 58.77% 116.24%, 34.19% 114.32%, 15.52% 93.95%, 5.48% 57.16%, 2.1% 22.19%, 4% -5.92%);
    
    }
}