.wrapper {
    margin-bottom: 110px;
}


.question {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;

    cursor: pointer;
    
    color: #83888F;
    

    .text.opened {
        color: #333D4B;
    }           

    &.disabled {
        cursor: default;
        color: scale-color($color: #83888F, $lightness: +40%);
    } 
}

.arrow.opened {
    transform: rotate(180deg);
}

.options.closed,
.options.disabled {
    display: none;
}


@media screen and (min-width: 700px) {
    .wrapper {
        margin-bottom: 100px;
    }
    .options {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;

        gap: 10px;
    }
}

@media screen and (min-width: 1180px) {
    .wrapper {
        margin-bottom: 88px;
    }
}