.wrapper {
    margin-bottom: 110px;
}


.question {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;

    .text {
        color: #83888F;
    }

}

.options.closed {
    display: none;
}

@media screen and (min-width: 700px) {
    .wrapper {
        margin-bottom: 100px;
    }
    .options {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;

        gap: 10px;
    }
}

@media screen and (min-width: 1180px) {
    .wrapper {
        margin-bottom: 88px;
    }
}