.smallscreen {
  display: block;
}

.largescreen {
    display: none;
}

.ul {
    list-style-type: none;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;

    font-size: 0.75rem;
    font-weight: 700;
    color: #83888F;

    li {

        display: flex;

        gap: 0.5rem;

        a {
            display: block;
            flex-basis: 100%;
            height: 100%;
            cursor: pointer;

            &:hover {
                color: #333D4B;
            }
        }


        .userImage {
            position: relative;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            overflow: hidden;
        }

        .button {
            background: none;
            border: none;
            outline: none;
            cursor: pointer;

            font-size: 0.75rem;
            font-weight: 700;
            font-family: 'Barlow', sans-serif;
            color: #83888F;

            &:hover {
                color: #333D4B;
            }
        }

    }
}



@media (min-width: 768px) {
    .smallscreen {
        display: none;
    }

    .largescreen {
        display: block;
    }
}