.wrapper {
    position: absolute;
    top: 5.625rem;
    left: 0;
    bottom: 0;
    right: 0;
 
    display: flex;

    flex-flow: column nowrap;
    justify-items: flex-start;

    

    z-index: 100;


    
}

.content {
    width: 87%;
    max-width: 1280px;
    min-width: 327px;
    margin: auto;


    background-color: rgb(254, 252, 247);
}

.ul {
    list-style: none;
    text-align: center;

    color: #333D4B;
    
    li {
        margin-bottom: 2rem;

        cursor: pointer;

        &:hover {
            color: #FDD6BA;
        }
    }

}

.footer {
    background: linear-gradient(180deg, #FEFCF7 0%,  rgba(254, 252, 247, 0.504981) 99%);
    height: 100%;
}
