.wrapper {
    background-image: url('/assets/bg-order-summary.png');
    background-size: cover;

    padding: 2rem 1.5625rem;

    border-radius: 8px;

    margin-bottom: 56px;
}

.title {
    text-transform: uppercase;
    color: #FFF;

    margin-bottom: .5rem;
}

.summary {
    color: #FFF;
}

.option {
    color: #0E8784;
}