@use '../../../styles/base';

.wrapper {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;

}

.title {
    margin-bottom: 1.5rem;

}

.body {
    margin-bottom: 2.4375rem;

}

.content {

    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    align-content: center;

    text-align: center;

    padding: 1.5rem;

    color: base.$lightCream;


}

.wedge {
    display: none;
}


@media screen and (min-width: 700px) {
    .content {
        justify-content: left;
        text-align: left;
        width: 65%;
        padding-left: 3.625rem;
    }

    .wedge {
        display: inline-block;
        width: 35%;
        shape-outside: polygon(0.88% 28.8%, 4.55% 10.2%, 20.13% 0.1%, 99.35% 0.9%, 98.59% 99%, 53.87% 100.55%, 37.42% 99.9%, 24.51% 100.80%, 14.82% 96.3%, 4.39% 79.2%, 1.99% 46.2%);
    }
}


@media screen and (min-width: 1180px) {
    .content {
        padding-left: 5.31rem;
        width: 45%;
    }

    .wedge {
        width: 55%;

        shape-outside: polygon(14.69% 0.67%, 99.31% 0.67%, 100.17% 99.5%, 34.96% 99.27%, 24.58% 99.5%, 15.45% 99.22%, 10.29% 92.17%, 6.54% 83%, 3.74% 71.19%, 2.35% 56.02%, 1.49% 35%, 4.62% 20.05%, 9.7% 8.3%);
    }
}