.wrapper {
    display: flex;
    flex-flow: column nowrap;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 3rem;
}

.image {
    position: relative;
    width: 200px;
    height: 151px;

}

.text {
    text-align: center;

    color: #333D4B;
}

.title {
    margin-bottom: 1rem;
}