.wrapper {
    margin-bottom: 7.5rem;
}

@media screen and (min-width: 700px) {
    .wrapper{
        margin-bottom: 9rem;
    }
    
    
}


@media screen and (min-width: 1180px) {
    .wrapper {
        margin-bottom: 12.5rem;
    }

    
}