@use '../../styles/base';

.wrapper {
    margin-bottom: 4.9735rem;

    border-radius: 8px;


    &[data-theme=dark] {
        background: url('/assets/bg-steps-mobile.png');
        background-size: cover;
        padding: 5rem 2rem;
    }

}

.title {
    text-align: center;
    color: base.$grey;
    margin-bottom: 5rem;
}

.border {
    display: none;
}

@media screen and (min-width: 700px) {
    .wrapper {

        

        &[data-theme=dark] {
            background: url('/assets/bg-steps-tablet.png');
            background-size: cover;
            padding: 6rem 3.625rem;
        }
    }

    .title {
        text-align: left;
    }

    .border {
        display: flex;
        flex-flow: row nowrap;

        justify-content: space-between;
        align-items: center;
        width: 100%;

        margin-bottom: 3rem;

        background-color: #FDD6BA;
    }

    .bSection {
        position: relative;
        
        flex-basis: 31%;
        height: 2px;

        

        &:last-child {
            background-color: base.$lightCream;
        }


        &::before {
            content: "";
            position: absolute;
            
            top: -15.5px;
            border: 2px solid #0E8784;
            border-radius: 50%;
            width: 31px;
            height: 31px;

            background-color: #FEFCF7;
        }

        [data-theme=dark] & {
            &:last-child {
                background-color: #2C343E;
            }

            &::before {
                background-color: #2C343E;
            }
        }
    }

    .steps {
        display: flex;
        flex-flow: row nowrap;

        justify-content: space-between;




    }
}


@media screen and (min-width: 1180px) {
    .wrapper {
        &[data-theme=light] {
            margin: 0 5.3425rem;
        }

        &[data-theme=dark] {
            background: url('/assets/bg-steps-desktop.png');
            background-size: cover;
            padding-left: 5.3125rem;
        }
    }
}