@use '../../styles/base';

.wrapper {
    margin-bottom: 4.9735rem;

    border-radius: 8px;

    &[data-theme=dark] {
        background-color: #2C343E;
        padding: 5rem 2rem;
    }

}

.title {
    text-align: center;
    color: base.$grey;
    margin-bottom: 5rem;
}

@media screen and (min-width: 700px) {
    .wrapper {
        &[data-theme=dark] {
            padding: 6rem 2.5rem;
        }
    }

    .title {
        text-align: left;
    }


    .steps {
        display: flex;
        flex-flow: row nowrap;

    }
}


@media screen and (min-width: 1180px) {
    
}