@use '../../../styles/base';

.wrapper {
    height: 100%;

    text-align: center;
    padding: 8rem 1.5rem;
    color: base.$lightCream;
}

.title {
    margin-bottom: 1.5rem;
    width: 100%;


}

.wedge {
    display: none;
}


@media screen and (min-width: 700px) {
    .wrapper {
        text-align: left;

        & * {
            display: inline-block;
        }


        
        p {
            width: 65%;

        }
    }


    .wedge {
        width: 35%;
        height: 100%;
        clip-path: polygon(46.88% -38.04%, 105.26% -36.79%, 106.52% 137.63%, 47.58% 140.5%, 53.38% 88.82%, 42.13% 68.9%, 31.73% 36.95%, 31.35% 3.31%, 38.23% -21.8%);

        float: right;
    }
}


@media screen and (min-width: 1180px) {
    .wrapper {
        padding-top: 8rem;   
        
        p {
            width: 40%;
        }
    }

    .title {
        margin-bottom: 2rem;
    }
    
    .wedge {
        width: 60%;

        clip-path: polygon(14.73% -24.51%, 85.29% -29.52%, 87.66% 64.28%, 58.77% 116.24%, 34.19% 114.32%, 23.07% 162.51%, 14.46% 123.14%, 11.84% 90.75%, 10.68% 13.15%);
    
    }
}