@use '../../../styles/base';

.wrapper {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: flex-start;
}

.nav {
    display: none;
}


.questions {
    margin-bottom: 114.17px;
}

.createMyPlanButton {
    display: flex;
    justify-content: center;

}

@media screen and (min-width: 1180px) {
    .wrapper {
        margin: 0 5.3425rem;
        
    }
    .nav {
        display: block;

        flex-basis: 31%;

    }

    .main {
        flex-basis: 65.5%;
    }

    

    .createMyPlanButton {
        justify-content: flex-end;
    }
}