.wrapper {
    border-radius: 8px;

    padding: 1.5rem 1.5625rem;

    margin-bottom: 16px;

    background-color: #F4F1EB;
    color: #333D4B;

    cursor: pointer;

    transition: all .2s ease-in-out;

    &:hover {
        background-color: #FDD6BA;

        transform: translateY(-6px);
    }

    &.selected {
        background-color: #0E8784;
        color: #FEFCF7;
    }
}

.name {
    font-weight: 900;

    margin-bottom: 1.5rem;
}

