.wrapper {
    background-color: #0E8784;
    color: #FEFCF7;

    text-align: center;

    padding: 4.5rem 0.75rem 3rem;
    border-radius: 8px;

    margin-bottom: 1.5rem;
}

.image {
    margin-bottom: 3.5rem;
}

.name {
    margin-bottom: 1.5rem;
}

