@use '../../../styles/base';

.wrapper {
    border-radius: 10px;

    color: base.$lightCream;
    margin-bottom: 7.5rem;
}



.reasons {
    position: relative;

    .background {
        position: absolute;
        background-color: adjust-color($color: #2C343E,$lightness: -3%);
    
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    
        height: 650px;
        width: 100%;

    }

    .content {
        position: relative;
        z-index: 200;

        padding: 3rem 1.5rem 0rem;
        
        width: 100%;
        margin: auto;
    }
}


@media screen and (min-width: 700px) {
    .wrapper {
        margin-bottom: 9rem;
    }

    .reasons {
        .background {
            background-color: #2C343E;

            height: 350px;
        }
    }
}


@media screen and (min-width: 1180px) {
    .wrapper {
        margin-bottom: 12.5rem;
    }

    .reasons {
        .content {
            display: flex;
            flex-flow: row nowrap;

            justify-content: space-between;

            padding: 3rem 5.3125rem 0rem;
        }

        .background {
            height: 280px;
        }
        
    }
}





